# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next
.next
out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env*.local

# vercel
.vercel

# prisma
prisma/migrations/**/migration_lock.toml

# ide
.idea
.vscode

# Local build output and large media (added 2026-09-28)
.tmp/
tsconfig.tsbuildinfo
